* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Barra de navegação */
.navbar {
  background-color: #0066cc;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
}

.navbar nav a {
  color: #ffffff;
  margin: 0 15px;
  text-decoration: none;
  font-size: 16px;
}

.navbar .client-area {
  background-color: #c0e0ff;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 14px;
  color: #0066cc;
}

/* Banner principal */
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("./imgs/homem-segurando-tablet.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .banner-content {
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  padding: 20px;
  text-align: center;
  max-width: 80%;
  max-height: 100%;
}

.banner .banner-content h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.banner .banner-content p {
  font-size: 18px;
}

/* ------------------------------------------------------------------- */

/* Estilos básicos para o modal */
#cookieModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: none; /* Inicialmente escondido */
  z-index: 10; /* Colocar o modal acima do fundo escurecido */
  border-radius: 8px;
  max-width: 80%;
  text-align: center;
}
#cookieModal p {
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .button-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
  }
  
  .accept-button {
    background-color: #4e4f8e; /* Cor do botão "ACEITAR" */
  }
  
  .admin-button {
    background-color: #7a73dc; /* Cor do botão "ADMINISTRAR" */
  }
  
  /* Fundo escurecido quando o modal está ativo */
  #modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(178, 166, 164, 0.8); /* Fundo azul com opacidade */
    display: none; /* Inicialmente escondido */
    z-index: 5; /* Colocar abaixo do modal */
  }